* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'SF Pro Display', 'Inter', Arial, sans-serif;
  color: #000000;
  background: #F1F1F1;
  line-height: 1.6;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0;
}


/* Header */
#posts-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

#logo {
  font-family: 'Kanit', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

#back-button {
  margin-top: 64px;
  margin-bottom: 64px;
}

#back-button:hover {
  opacity: 0.7;
}

/* Контейнер поста */

#post-content-container {
  max-width: 1120px;
  margin: 80px auto;
  padding-bottom: 45px;
  position: relative;
}

#post-content-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

/* Шапка поста (user + date) */

#post-head-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

#post-author-info {
  display: flex;
  gap: 16px;
  align-items: center;
}

#author-img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

#author-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#post-author-name {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

#post-meta {
  display: flex;
  gap: 4px;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.5);
}

#post-meta p {
  margin: 0;
}

.dot {
  font-size: 9px;
  color: rgba(0, 0, 0, 0.5);
}

/* Иконки соц.сетей */

#socials-icons {
  display: flex;
  gap: 10px;
  align-items: center; 

}

#socials-icons img {
  width: 18px; 
  height: 18px; 
  cursor: pointer;
  opacity: 0.2; 
  transition: opacity 0.2s;
}

#socials-icons img:hover {
  opacity: 0.1;
}

/* Основной контент */
/* Заголовок */

#post-title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 38px;
  margin-bottom: 24px;
}

/* Body Text */
#post-body {
  font-family: 'SF Pro Display', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 70px;
}

/* Картинка поста */

#post-img {
  width: 100%;
  max-width: 1120px;
  height: 480px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 70px;
}

/* Контент-текст*/

#post-subheader-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#post-subheader-title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
}

#post-subheader {
  font-family: 'SF Pro Display', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000;
}

/* Лайки + коммент + закладка*/

#like-comments{
  display: flex;
  gap: 14px;
  margin-top: 70px;
  
}

#likes:hover{
  opacity: 0.8;
}
#comments:hover{
  opacity: 0.8;
}

#likes,
#comments{
  display: flex;
  gap: 4px;
  color: gray;
  cursor: pointer;
}

#icon-save{
  margin-left: auto;
  cursor: pointer;
}
#icon-save:hover{
  opacity: 0.8;
}


/* Footer */

#footer {
  margin-top: 120px;
  padding-top: 40px;
  margin-bottom: 32px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
  text-align: right;
}

.footer-credits,
.footer-made {
  margin: 8px 0;
}

.footer-made {
  margin-top: 32px;
  color: #000;
}

.footer-credits a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: underline;
}

.footer-icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin: 0 2px;
}